.searchBlock {
    background: rgb(219, 218, 218);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1em;
    margin: 0.5em 0 0 0;
}

.profileBlock,
.adminList {
    text-align: center;
    background: rgb(219, 218, 218);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1em;
    margin: 0.5em 0 0 0;
}

.adminList .list {
    text-align: left;
    padding: 0.25em;
    border-radius: 0.4em;
    max-height: 20em;
    overflow-y: auto;
}

.list div {
    position: relative;
    padding: 0.2em;
}


.list div:nth-child(odd) {
    background: rgb(238, 237, 237);
}

.list div:nth-child(even) {
    background: whitesmoke;
}

.removeBtn,.profBtn{
    box-sizing: content-box;
    border: none;
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    height: 100%;
    top: 50%;
    width: 5em;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.removeBtn {
    right: 0%;
}
.profBtn {
    right: 6em;
}

.removeBtn {
    background: rgb(221, 143, 143);
}

.list div .removeBtn:active {
    background: rgb(187, 113, 113);
}
.list div .profBtn:active {
    background: rgb(184, 184, 192);
}

.firstSearch {
    text-align: center;
    font-size: 1.5em;
}

.profImg {
    width: 25%;
    height: 25%;
}

.emailInput {
    width: 80%;
    margin: auto;
}